header{
    text-align: center;
    font-size: 2.5vw;
}

footer{
    text-align: center;
    background-color: rgb(13, 38, 54);
    padding: 0.8vw;
    color: white;
}

footer a{
    text-decoration: none;
    color: red;
    font-size: 2vw;
}

footer span{
    font-size: 2vw;
    margin-right: 10px;
}

footer img{
    height: 3vw;
    position: relative;
    top: 0.8vw;
    transition: all .5s;
}

footer img:hover{
    transform: rotate(3600deg);
}